.main-slider {
  &__inner {
    height: 819px;
    overflow: hidden;
    background-color: $element-color;

    @include _979 {
      height: 700px;
    }

    @include _767 {
      height: 650px;
    }

    @include _567 {
      height: 600px;
    }

    @include h_414 {
      height: 300px;
    }
  }

  &__slider {
    position: relative;
    z-index: 2;
    max-height: 740px;

    &::after {
      position: absolute;
      content: "";
      border-radius: 50%;
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      width: 634px;
      height: 634px;
      right: -10%;
      top: 13%;
      z-index: -1;

      @include _1199 {
        width: 600px;
        height: 600px;
      }

      @include _979 {
        width: 450px;
        height: 450px;
        top: 22%;
      }

      @include _767 {
        width: 560px;
        height: 560px;
        right: -3%;
        top: 8%;
      }

      @include h_414 {
        width: 300px;
        height: 300px;
        right: -1%;
        top: 1%;
      }
    }

    @include _767 {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    display: flex !important;
    align-items: flex-end;
    justify-content: space-between;
    padding: 189px 0;

    @include _979 {
      padding: 170px 0;
    }

    @include _767 {
      position: relative;
      overflow: hidden;
    }

    @include _567 {
      flex-direction: column;
      align-items: flex-start;
      padding: 50px 0;
    }

    @include h_414 {
      padding: 25px 0;
      align-items: center;
    }
  }

  &__desc {
    @include _767 {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    color: $menu-color;
    line-height: 1;
    margin-bottom: 30px;
    max-width: 420px;
    @extend %line-clump;
    -webkit-line-clamp: 3;
    padding-top: 25px;

    @include _1199 {
      font-size: 55px;
      max-width: 380px;
    }

    @include _979 {
      font-size: 45px;
    }

    @include _767 {
      margin-bottom: 270px;
      max-width: 100%;
    }

    @include _567 {
      max-width: 100%;
      margin-bottom: 240px;
      font-size: 43px;
      word-break: break-all;
    }

    @include h_414 {
      max-width: 250px;
      padding-top: 0;
      margin-bottom: 10px;
      font-size: 35px;
    }
  }

  &__text {
    position: relative;
    max-width: 370px;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    color: rgb(67, 99, 114);
    line-height: 1.6;
    @extend %line-clump;
    -webkit-line-clamp: 4;
    margin-bottom: 35px;

    @include _767 {
      margin-bottom: 15px;
    }

    @include _567 {
      margin-bottom: 5px;
    }

    @include h_414 {
      margin-bottom: 15px;
    }

    p {
      @include _1199 {
        font-size: 16px;
      }

      @include _767 {
        max-width: 100%;
      }

      @include _567 {
        font-size: 15px;
      }

      @include h_414 {
        font-size: 15px;
        max-width: 200px;
      }
    }
  }

  &__photo {
    max-width: 640px;
    max-height: 440px;

    @include _1199 {
      max-width: 580px;
      max-height: 400px;
    }

    @include _979 {
      max-width: 400px;
      max-height: 300px;
    }

    @include _767 {
      position: absolute;
      max-height: 165px;
      top: 32%;
    }

    @include _567 {
      object-position: -152px;
      top: 34%;
    }

    @include h_414 {
      object-position: 0;
      max-width: 250px;
      right: 0;
    }
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  right: 44%;
  bottom: -6%;

  @include _979 {
    display: none !important;
  }

  button {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 11px;
    background-color: #fde3cc;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 12px;

    transition: background-color 0.3s;
    outline: transparent;
    @extend %animation;
  }
}

.slick-active button {
  background-color: #fff;
}

.slick-initialized .slick-slide {
  display: block;
}
