.news {
  padding-top: 111px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__more {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: $news-color;
    padding-right: 27px;
    transition: background-color 0.3s;
    outline: transparent;
    @extend %animation-link;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-top: 1px solid $news-color;
      border-right: 1px solid $news-color;
      transform: rotate(42deg);
      bottom: 33%;
      left: 76px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
  }

  &__card-link {
    text-decoration: none;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    max-width: 374px;
    min-height: 421px;
    background-color: #fff;
  }

  &__photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__link {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    min-width: 104px;
    padding: 2px 0;
    background-color: $btn-color;
    border-radius: 14px;
    top: 55%;
    left: 8%;
    transition: background-color 0.3s;
    @extend %animation;
    outline: transparent;
  }

  &__content {
    max-width: 315px;
    margin: 0 auto;
  }

  &__info {
    display: flex;

    p {
      max-width: 150px;
      margin-right: 30px;
      font-family: 'Rubik';
      font-size: 12px;
      font-weight: 400;
      color: $news-color;
      text-transform: uppercase;
      @extend %line-clump;
      -webkit-line-clamp: 1;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__text {
    max-width: 315px;
    height: 109px;
    margin-bottom: 17px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;

    p {
      padding-top: 32px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;
      color: $news-color;
      @extend %line-clump;
      -webkit-line-clamp: 3;
    }
  }

  &__time {
    width: 150px;
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 400;
    color: $news-color;
    text-transform: uppercase;
  }
}
