.news {
  padding-top: 111px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    @include _567 {
      display: block;
      text-align: right;
    }
  }

  &__more {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    color: $news-color;
    padding-right: 27px;
    @extend %animation-link;

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-top: 1px solid $news-color;
      border-right: 1px solid $news-color;
      transform: rotate(42deg);
      bottom: 33%;
      left: 76px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;

    @include _979 {
      grid-template-columns: 1fr 1fr;
    }

    @include _767 {
      grid-template-columns: 1fr;
    }

    @include _414 {
      grid-template-columns: 1fr;
    }
  }

  &__card-link {
    text-decoration: none;
  }
}
