.partners {
  position: relative;

  &__inner {
    position: absolute;
    top: -173px;
    width: 100%;
    background-color: $element-color;
    min-height: 440px;
    z-index: -1;
  }

  &__list {
    padding: 95px 0;
  }

  &__logo {
    max-width: 225px;
    max-height: 84px;
  }
}