.partners {
  position: relative;

  &::after {
    position: absolute;
    width: 100%;
    min-height: 440px;
    content: "";
    background-color: $element-color;
    top: -173px;
    z-index: -1;

    @include _1199 {
      top: -150px;
    }

    @include _767 {
      min-height: 390px;
    }

    @include _567 {
      min-height: 350px;
    }
  }

  &__item {
    text-align: center;
  }

  &__list {
    position: relative;
    padding: 95px 0;

    @include _767 {
      padding: 60px 0;
    }

    @include _567 {
      padding: 50px 0;
    }
  }

  &__logo {
    display: inline-block !important;
    max-width: 225px;
    max-height: 84px;
  }
}

.slick-track {
  display: flex;
  align-items: center;
}
