.products {
  padding-top: 68px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 149px;

    @include _1199 {
      grid-template-columns: 1fr 1fr 1fr;

      &:nth-child(even) {
        justify-items: right;
      }
    }

    @include _979 {
      grid-template-columns: 1fr 1fr;
    }

    @include _767 {
      grid-column-gap: 20px;
    }

    @include _567 {
      grid-template-columns: 1fr;
      margin-bottom: 30px;
    }

    @include h_414 {
      margin-bottom: 40px;
    }
  }

  &__item {
    max-width: 270px;
    height: 380px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-bottom: 40px;

    @include _1199 {
      justify-self: center;
    }

    @include _979 {
      &:nth-child(odd) {
        justify-self: right;
      }
    }

    @include _767 {
      &:nth-child(odd) {
        justify-self: center;
      }
    }

    @include h_414 {
      height: 300px;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 70px;
    grid-column-gap: 30px;

    @include _979 {
      grid-template-columns: 1fr;
    }
  }
}
