.products {
  padding-top: 68px;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 144px;
  }

  &__item {
    max-width: 270px;
    height: 380px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    margin-bottom: 40px;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  &__card-item {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 390px;
    background-color: #feefe2;
    
    &:hover .card__add {
      display: block;
    }
  
  }
  &__card-inner {
    width: 55%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__photo-card {
    position: absolute;
    top: -94px;
    left: 16%;
    max-width: 370px;
    max-height: 490px;
  }

  &__name {
    max-width: 350px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.231;
    color: $user-color;
    margin-bottom: 15px;
  }

  &__desc p {
    max-width: 350px;
    font-family: "Rubik";
    font-weight: 400;
    color: $user-color;
    margin-bottom: 27px;
    @extend%line-clump;
  }

  &__card-link {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 15px;
    max-width: 182px;
    text-decoration: none;
    border: 1px solid $user-color;
    color: $user-color;
    border-radius: 5px;
    padding-left: 19px;
    background-color: transparent;
  }

  .button::after {
    content: "";
    background-image: url(../images/arrow-btn-products.svg);
  }
}
