.video {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 501px;

  @include _979 {
    min-height: 420px;
  }

  @include _767 {
    min-height: 300px;
  }

  @include _567 {
    min-height: 150px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: transparent;

    & svg {
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: $btn-color;
      top: 40%;
      right: 50%;
      border-radius: 50%;
      transform: translateX(46px);
      transition: background-color 0.3s;
      @extend %animation;

      @include _979 {
        top: 38%;
      }

      @include _767 {
        width: 85px;
        height: 85px;
        top: 36%;
        transform: translateX(40px);
      }

      @include _567 {
        width: 50px;
        height: 50px;
        top: 34%;
        transform: translateX(23px);
      }
    }

    &::before {
      position: absolute;
      width: 130px;
      height: 130px;
      content: "";
      background-color: $btn-color;
      opacity: 0.4;
      top: 37%;
      right: 50%;
      border-radius: 50%;
      transform: translateX(62px);
      @extend %animation;

      @include _979 {
        top: 34%;
      }

      @include _767 {
        width: 110px;
        height: 110px;
        top: 32%;
        transform: translateX(53px);
      }

      @include _567 {
        width: 80px;
        height: 80px;
        top: 25%;
        transform: translateX(39px);
      }
    }
  }
}
