.team {
  position: relative;
  margin-bottom: 63px;

  @include _767 {
    margin-bottom: 30px;
  }

  @include _567 {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;
  }

  &__left {
    max-width: 300px;
    margin-right: 100px;
    text-align-last: left;

    @include _1199 {
      margin-right: 37px;
    }

    @include _767 {
      max-width: 100%;
      margin-right: 0;
    }

    @include _567 {
      text-align-last: auto;
    }

    @include h_414 {
      text-align-last: auto;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__text {
    @extend %line-clump;
    -webkit-line-clamp: 18;
    margin-bottom: 34px;

    @include _567 {
      margin-bottom: 20px;
    }

    @include h_414 {
      margin-bottom: 20px;
    }
  }

  &__right {
    @include _767 {
      position: absolute;
      top: 60px;
    }

    @include _567 {
      right: 0;
      left: 0;
    }

    @include h_414 {
      position: absolute;
      right: 0;
      left: 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px 30px;

    @include _1199 {
      grid-row-gap: 80px;
    }

    @include _979 {
      grid-row-gap: 60px;
    }

    @include _567 {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    @include h_414 {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  }

  &__item {
    position: relative;
  }

  &__photo {
    object-fit: cover;
    max-width: 370px;
    max-height: 320px;
    height: 100%;

    @include _1199 {
      max-width: 320px;
      max-height: 278px;
    }

    @include _979 {
      max-width: 240px;
    }
  }

  &__content {
    position: absolute;
    bottom: -19%;
    max-width: 326px;
    width: 100%;
    min-height: 110px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    padding-left: 25px;
    padding-top: 20px;
    // @extend %line-clump;
    // -webkit-line-clamp: тут он некорректно работал
  }

  &__name {
    max-width: 170px;
    font-size: 22px;
    font-weight: 700;
    color: #436372;
    @extend %line-clump;
    -webkit-line-clamp: 1;
  }

  &__prof {
    font-family: "Rubik", sans-serif;
    @extend %line-clump;
    -webkit-line-clamp: 1;
    max-width: 170px;
  }

  &__links {
    position: absolute;
    top: 35%;
    right: 21px;

    @include _979 {
      top: 8%;
      right: 14px;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin-right: 2px;
    @extend %animation-circle;

    svg {
      position: absolute;
      top: 12px;
      left: 11px;
    }

    &:hover .svg-team {
      fill: #fff;
    }

    @include _979 {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
