body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #585858;
  line-height: 1.875;
  background-color: #fff;
}

.container-outside {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  @extend .container-outside;
  max-width: 1200px;
}

.button {
  display: inline-block;
  position: relative;
  background-color: $btn-color;
  font-family: 'Rubik';
  color: #fff;
  border: 0;
  min-width: 200px;
  padding: 16px 16px 16px 30px;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  outline: transparent;
  text-decoration: none;
  @extend %animation;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../images/arrow-btn.svg);
    width: 22px;
    height: 9px;
    right: 19px;
    top: 27px;
  }

  &--decor {
    font-size: 15px;
    min-width: 182px;
    text-decoration: none;
    border: 1px solid $user-color;
    color: $user-color;
    border-radius: 5px;
    padding-left: 19px;
    background-color: transparent;
    margin-bottom: 12px;

    &::after {
      background-image: url(../images/arrow-btn-products.svg);
    }
  }
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  color: #191919;

  &--margin {
    margin-bottom: 21px;
  }
}

.filter-design,
.filter-products {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  &__item {
    margin-right: 27px;
  }

  &__buttons {
    font-weight: 700;
    color: #8b8b8b;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: transparent;
    &:last-child {
      margin-right: 0;
    }
    @extend %animation-link;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  position: relative;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  color: $user-color;
  background-color: #edf1f4;
  border: none;
  border-radius: 50%;

  svg {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  path {
    transition: fill 0.3s;
  }

  &:hover {
    background-color: $btn-color;

    .svg {
      fill: #fff;
    }
  }

  &--mod {
    background-color: #fff;

    &:hover svg {
      fill: #fff;
    }
  }

  @extend %animation;

  &:last-child {
    margin-right: 0;
  }
}

.icon-figure {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  color: $user-color;
  background-color: transparent;
  border: none;
  padding: 0 38px;

  svg {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  @extend %animation;

  &:hover {
    background-color: transparent;

    .svg--user {
      fill: #fff;
    }
  }

  &--card {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: #fff;
    transition: background-color 0.3s;

    svg {
      top: 15px;
      right: 15px;
    }

    path {
      transition: fill 0.3s;
    }

    &:hover {
      background-color: $btn-color;

      svg {
        fill: #fff;
      }
    }
  }
}

.subscribe {
  display: flex;

  &__email {
    width: 170px;
    height: 40px;
    margin-right: -4px;
    background-color: #fef7f0;
    border: none;
    @extend %animation;
  }

  &__email::placeholder {
    padding-left: 15px;
    font-size: 12px;
  }

  &__btn {
    width: 100px;
    font-weight: 400;
    color: #fff;
    background-color: $btn-color;
    border: none;
    @extend %animation;
  }
}
