$menu-color: #436372;
$element-color: #fcd7b6;
$user-color: #243f4d;
$btn-color: #a3bbc8;
$products-color: #a3bac7;
$footer-color: #7b7b7b;
$focus-color: #11ee23;
$news-color: #262626;

%line-clump {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: clip;
}

%animation {
  outline: transparent;
  transition: background-color 0.2s, color 0.2s;

  &:focus {
    background-color: $focus-color;
  }

  &:hover {
    color: $element-color;
    background-color: $user-color;
  }

  &:active {
    color: $element-color;
    background-color: red;
  }
}

%animation-circle {
  outline: transparent;
  transition: background-color 0.2s;

  &:focus {
    background-color: $focus-color;
  }

  &:hover {
    background-color: $btn-color;
  }

  &:active {
    background-color: red;
  }
}

%animation-link {
  outline: transparent;
  transition: color 0.2s;

  &:focus {
    color: $focus-color;
  }

  &:hover {
    color: $btn-color;
  }

  &:active {
    color: red;
  }
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}
