.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__photo {
    max-width: 250px;
    max-height: 270px;
  }

  &__list {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__add {
    display: none;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    transition: background-color 0.3s;
  }

  &__add:hover {
    background-color: $products-color;
  }

  &__add:focus &__link path {
    fill: rgb(228, 11, 11);
  }

  &__add:hover &__link path {
    fill: #fff;
  }

  &__add:active &__link path {
    fill: rgb(255, 0, 0);
  }

  &__add:last-child {
    margin-right: 0;
  }

  &__link {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13px;
    left: 7px;
  }

  &__link path {
    fill: $products-color;
  }

  &__product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 290px;
  }

  &__subtitle {
    color: #243f4d;
    font-size: 16px;
    max-width: 180px;
    @extend%line-clump;
    -webkit-line-clamp: 1;
  }

  &__price {
    font-weight: 700;
    color: $products-color;
    position: relative;
    line-height: 2.5;
    margin-bottom: 27px;
  }

  &__currency {
    position: absolute;
    left: -9px;
  }
}