.decor-card {
  position: relative;
  color: $user-color;
  max-width: 870px;
  min-height: 390px;
  background-color: #feefe2;

  @include _1199 {
    min-height: 290px;
  }

  &__content {
    display: flex;
    position: absolute;
    align-items: flex-end;
    right: 15%;
    left: 15%;
    bottom: 22%;

    @include _1440 {
      left: 10%;
    }

    @include _1199 {
      left: 0;
      bottom: 13px;
    }

    @include _567 {
      right: 0;
      left: 3%;
      bottom: 0;
    }
  }

  &__inner {
    display: inline-block;
    max-width: 350px;

    @include _1199 {
      max-width: 250px;
    }

    @include _567 {
      max-width: 160px;
    }
  }

  &__photo {
    overflow: visible;
    max-width: 370px;
    max-height: 490px;
    margin-right: 20px;

    @include _1199 {
      max-width: 190px;
      margin-right: 11px;
    }

    @include _567 {
      position: absolute;
      max-width: 111px;
      top: -3%;
      left: 59%;
      margin-right: 0;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.231;
    margin-bottom: 15px;
    @extend %line-clump;

    @include _1440 {
      font-size: 22px;
    }

    @include _567 {
      font-size: 19px;
    }
  }

  &__desc {
    font-family: "Rubik", sans-serif;
    margin-bottom: 27px;
    @extend %line-clump;
    -webkit-line-clamp: 3;

    @include _1440 {
      font-size: 14px;
    }

    @include _767 {
      word-break: break-all;
    }

    @include _567 {
      -webkit-line-clamp: 5;
    }
  }
}
