.footer {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  color: $footer-color;
  padding-top: 63px;

  &__top {
    display: flex;
    padding-bottom: 74px;
    border-bottom: 1px solid $btn-color;
    margin-bottom: 28px;
  }

  &__list {
    max-width: 200px;
    list-style: none;
    font-style: normal;
  }

  &__item {
    max-width: 305px;
    width: 100%;
  }

  &__subscribe {
    max-width: 270px;
  }

  &__list {
    line-height: normal;
  }

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #1f2044;
    text-transform: uppercase;
    padding-top: 9px;
    margin-bottom: 14px;
  }

  &__logo {
    margin-bottom: 13px;
    display: inline-block;
  }

  &__text {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text p {
    display: inline;
    font-family: 'Rubik';
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 9px;
    @extend %line-clump;
  }

  &__text--desc {
    display: block;
    margin-bottom: 28px;
  }

  &__link {
    color: $footer-color;
    text-decoration: none;
    @extend %line-clump;
    -webkit-line-clamp: 1;
    @extend %animation-link;
    outline: transparent;
  }

  &__id {
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;
  }

  &__copyright p {
    @extend %line-clump;
    -webkit-line-clamp: 1;
    max-width: 600px;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__nav {
    height: 17px;
    line-height: normal;
    border-right: 1px solid $footer-color;
    padding: 0 15px;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}