.footer {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $footer-color;
  padding-top: 63px;

  &__top {
    display: flex;
    padding-bottom: 74px;
    border-bottom: 1px solid $btn-color;
    margin-bottom: 28px;

    @include _979 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      padding-bottom: 45px;
      margin-bottom: 25px;
    }

    @include _567 {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 30px;
      margin-bottom: 15px;
    }
  }

  &__list {
    max-width: 200px;
    list-style: none;
    font-style: normal;
  }

  &__item {
    max-width: 305px;
    width: 100%;
  }

  &__subscribe {
    max-width: 270px;
  }

  &__list {
    line-height: normal;
  }

  &__title {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #1f2044;
    text-transform: uppercase;
    padding-top: 9px;
    margin-bottom: 14px;
  }

  &__logo {
    margin-bottom: 13px;
    display: inline-block;
  }

  &__text {
    margin-bottom: 15px;
    line-height: 1.7;
    @extend %line-clump;

    &:last-child {
      margin-bottom: 0;
    }

    @include _979 {
      margin-bottom: 0;
    }

    &--desc {
      margin-bottom: 28px;

      @include _979 {
        margin-bottom: 10px;
      }
    }

    p {
      display: inline;
      margin-bottom: 9px;
    }
  }

  &__link {
    color: $footer-color;
    text-decoration: none;
    @extend %line-clump;
    -webkit-line-clamp: 1;
    @extend %animation-link;

    @include _979 {
      padding: 13px 0;
      line-height: normal;
    }
  }

  &__id {
    text-transform: uppercase;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 34px;

    @include _979 {
      padding-bottom: 25px;
    }

    @include _567 {
      padding-bottom: 15px;
    }
  }

  &__copyright {
    max-width: 600px;
    @extend %line-clump;
    -webkit-line-clamp: 1;

    @include _567 {
      -webkit-line-clamp: 2;
    }
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__nav {
    height: 17px;
    line-height: normal;
    border-right: 1px solid $footer-color;
    padding: 0 15px;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    @include _767 {
      display: none;
    }
  }
}
