.new-design {
  position: relative;

  &__decs {
    font-weight: 700;
    line-height: 1;
    max-width: 370px;
    min-height: 250px;
    background-color: #f8f8f8;
    padding: 42px 40px;
    border-radius: 5px;
  }

  &__item {
    top: -40px;
    right: -3px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 269px;
    width: 100%;
    min-height: 250px;
    padding-top: 40px;
  }

  &__product {
    max-height: 250px;
    overflow: hidden;
  }

  &__photo {
    max-width: 350px;
  }

  &__subtitle {
    font-size: 20px;
    max-width: 180px;
    margin-bottom: 20px;
    color: #191919;
    @extend%line-clump;
  }

  &__type {
    max-width: 60px;
    color: #a3bbc8;
    @extend%line-clump;
  }
}