.slick-track {
  display: flex;
  align-items: center;
}

.slick-initialized .slick-slide {
  display: flex;
}

.slick-slider {
  z-index: 2;
}

.slick-dots {
  display: flex;
  position: absolute;
  right: 44%;
  bottom: -6%;

  & button {
    font-family: "Rubik";
    font-weight: 500;
    font-size: 11px;
    background-color: #fde3cc;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: transparent;
    @extend%animation;
  }
}

.slick-active button {
  background-color: #fff;
}

.slick-initialized .slick-slide {
  display: block;
}