.svg {
  fill: $btn-color;
  width: 20px;
  height: 20px;

  &--play {
    width: 28px;
    height: 28px;
  }

  &--user {
    fill: $user-color;
  }
}

.svg-arrow {
  position: absolute;
  top: 40%;
  right: 25px;
  width: 15px;
  height: 11px;
  fill: #fff;
}

.svg-team {
  width: 17px;
  height: 17px;

  &--google {
    width: 22px;
    height: 14px;
    transform: translate(-2px, 1px);
  }
}

.svg-num {
  position: relative;
  width: 64px;
  fill: $ocen-color;
  z-index: 2;

  &--rate {
    left: -3%;
    height: 57px;
    margin-bottom: 10px;
  }

  &--delivery {
    top: 10px;
    left: -3%;
    height: 40px;
    margin-bottom: 27px;
  }

  &--work {
    top: -4px;
    left: 1%;
    height: 64px;
    margin-bottom: 3px;
  }

  &--brands {
    top: -2px;
    left: -2%;
    height: 63px;
    margin-bottom: 4px;
  }
}
